<table class="striped">
  <thead>
    <tr>
        <th>Nome</th>
        <th>Situação</th>
        <th>Bloco</th>
        <th>Apartamento</th>
    </tr>
  </thead>

  <tbody>
      <td>João</td>
      <td>Proprietário</td>
      <td>1</td>
      <td>101</td>
    <tr>
      <td>Carlos</td>
      <td>Locatário</td>
      <td>4</td>
      <td>401</td>
    </tr>
    <tr>
      <td>Maria</td>
      <td>Proprietário</td>
      <td>5</td>
      <td>501</td>
    </tr>
    <tr>
      <td>José</td>
      <td>Locatário</td>
      <td>3</td>
      <td>301</td>
    </tr>
  </tbody>
</table>

<a id="btn-add-morador" href="#!" class="btn-floating pulse btn-large scale-transition">
  <i class="material-icons">add</i>
</a>


<ul class="pagination">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_center</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
