body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #CFD8DC;
}

main {
  flex: 1 0 auto;
}

.btn-login {
    background-color: #607D8B;
    color: white;
    padding: 14px 20px;
    margin: 35% 40%;
    border: none;
    cursor: pointer;
}
